<html>
<head>
    <title>Multitracker labeling</title>
    <script src="https://unpkg.com/konva@7.2.5/konva.min.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://semantic-ui.com/dist/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/annotation.css')}}"  rel="stylesheet"/>
    <script src="/static/js/network.js"></script>
    <script src="/static/js/util.js"></script>
</head>
<body>

    <table>
        <tbody style="vertical-align: top">
        <tr>
        <th><div id="container" style="height: 100%;"></div></th>
        <th>
            <table>
                <tr><td>Annotated Frames {{num_db_frames}} (your goal is 100 :)</td></tr>
                <tr><td><input type="button" id="bu_send" value="next frame" class="positive ui button"></td></tr>
            </table>
            <table border="1" id='data_table'>
                <tbody style="display: block; height: 800px; overflow-y: scroll" id='data_table_body'>
                    {% for animal in animals %}
                        <tr name = 'row_animal'><td data-label="animal id" name="animal_id">Animal</td><td></td><td>visible</td><td><input type="checkbox" checked name="checkbox_animal_"></td></tr>
                        {% for keypoint_name in keypoint_names.split(sep) %}
                            <tr><td></td><td data-label="keypoint name" name="kpname">{{keypoint_name}}</td><td>visible</td><td><input type="checkbox" checked name="checkbox_keypoint_{{ (animal.id|int ) |string}}_{{keypoint_name}}"></td></tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </th>

        </tr>
    </tbody>
    </table>
    
    

<script src="/static/js/annotation.js"></script>
<script src="/static/js/gui.js"></script>
<script>
    let project_id = {{project_id}};
    let video_id = {{video_id}};
    let frame_idx = "{{frame_idx}}";
    let num_db_frames = {{num_db_frames}};
    let keypoint_names = "{{keypoint_names}}".split("{{sep}}");
    let labeling_mode = "{{labeling_mode}}";
    let animals = JSON.parse({{animals_json | tojson}});
    console.log('video_id',video_id); console.log('frame_idx',frame_idx);
    console.log(animals);
    init_fe();
    
    add_animals();
    fill_data_table();
    stage.on('mousemove',function() {
        //console.log('transform',stage.findOne('#transform_1'));
        //console.log('bbox',stage.findOne('#bbox_1'));
    });

    document.getElementById("bu_send").onclick = function(){
        let url = "/labeling";
        let package = get_annotation_data();
        if(package !== null){
            post(url,package,redirect_next_task);
        }
    };/*
    
    if(labeling_mode=='keypoint'){ 
        init_keypoint_gui();
    }else{
        if(labeling_mode=='bbox'){
            document.getElementById("bu_undobbox").onclick = function(){
                stage.findOne("#layer").findOne('#bbox_'+(num_indiv-1).toString()).destroy();
                stage.draw();
                num_indiv--;
            };

            document.getElementById('bu_send').value += " "+num_db_frames.toString();

            init_pointer_cross();
        }
    }
    //gui.showModal(); */
</script>
</body></html>