<html>
<head>
    <title>Multitracker labeling</title>
    <script src="/static/js/konva.min.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://semantic-ui.com/dist/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/labeling.css')}}"  rel="stylesheet"/>
    <script src="/static/js/network.js"></script>
    <script src="/static/js/util.js"></script>
</head>
<body>


    <div id="container" style="height: 100%;"></div>

<script src="/static/js/postprocess.js"></script>
<script src="/static/js/gui.js"></script>
<script>
    let video_name = "{{video_name}}";
    let total_frame_number = {{total_frame_number}};
    let predicted_tracks = {{tracking_data|tojson}};
    for(let i in predicted_tracks){
        console.log(i, predicted_tracks[i][0]);
    }
    //console.log(tracking_data);
    let labeling_mode = "{{labeling_mode}}";
    

    init_fe();

</script>
</body></html>