<head>
  <!--<link href="https://vjs.zencdn.net/7.8.3/video-js.css" rel="stylesheet" />
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>-->
  <title>Multitracker Video Refinement</title>
  <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://semantic-ui.com/dist/semantic.min.js"></script>
    <script src="/static/js/network.js"></script>
    <script src="/static/js/util.js"></script>
</head>

<body>
  <h1>Video Refinement</h1>
  <h2>Project {{project_name}} - Video {{video_name}}</h2>
  <video width="1440" controls id='player'>
    <source src="/static/trained_model.mp4" type="video/mp4">
  </video>
  <button id="bu_frame_marker" class="ui button" onclick="onclick_frame_marker();">Label later</button>

  <script type="text/javascript">
    let project_id = {{project_id}};
    let video_id = {{video_id}};
    function onclick_frame_marker(){
      let player = document.getElementById('player');
      console.log(player.currentTime);
      let package = {'time': player.currentTime};

      let url = '/label_later/' + project_id.toString() + '/' + video_id.toString();
      post(url, package, null);
    }
  </script>

  <!--<script src="https://vjs.zencdn.net/7.8.3/video.js"></script>-->
</body>